DOUYIN_SPIDER_PATH=/Users/bytedance/Documents/AIWorkspace/douyin-tool-eval/vendor/DouYin_Spider
SERVICE_DATA_DIR=data
SERVICE_HOST=127.0.0.1
SERVICE_PORT=18099
WORKER_POLL_SECONDS=1
BROWSER_CHANNEL=chrome
